[CRAB]
jobtype     = cmssw
scheduler   = caf
use_server  = 0

[CAF]
queue = cmscaf1nd

[GRID]
rb                   = CERN
proxy_server         = fg-myproxy.fnal.gov
virtual_organization = cms

[CMSSW]
pset        = singleMuonGun_MEp_1_3_17_RECO.py
output_file = singleMuonGun_RECO.root
datasetpath = None
#events_per_job = 100
events_per_job = 10000
#number_of_jobs = 5
number_of_jobs = 100

[USER]
thresholdLevel          = 80
email                   = asdf504985asdfjk@gmail.com
copy_data               = 1
return_data             = 0
storage_element         = T2_CH_CERN 
user_remote_dir         = singleMuonGun_MEp_1_3_17_RECO_V4
ui_working_dir          = singleMuonGun_MEp_1_3_17_RECO_V4
publish_data_name       = singleMuonGun_MEp_1_3_17_RECO_V4
publish_data            = 0
dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_01_writer/servlet/DBSServlet
